.code {
    width: 90vw;
    height: 6em;
    background-color: #eee;
    clear: both;
    display: block;
    font-size: 120%;
}

.code_frac {
    font-size: 180%;
}

.frac_passed span.katex-html {
    background-color: #ffe;
}

.frac_current_ok span.katex-html {
    background-color: #dfd;
}

.frac_current_no span.katex-html {
    background-color: #fdd;
}

.step {
    height: 2em;
    font-size: 160%;
    float: left;
}

.seq_output {
    font-size: 130%
}

.error {
    color: red;
    background-color: yellow;
}


span#last_step {
    display: inline-block;
    left: 0;
    /*position: absolute;*/
}
span#step_math {
    display: inline;
    /*position: absolute;*/
}

.fade-leave-active {
    transition: all 0.5s ease-out;
  }

.fade-leave-to {
    opacity: 0;
    margin-left: -100%;
  }