<!doctype html>

<html>

<head>
  <meta charset="utf-8">

  <title>Fractran</title>
  <meta name="description" content="Fractran interpreter">
  <link rel="stylesheet" type="text/css" href="fractran_app.css"> </link>
  <script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
  <script src="BigInteger.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css" integrity="sha384-B41nY7vEWuDrE9Mr+J2nBL0Liu+nl/rBXTdpQal730oTHdlrlXHzYMOhDU60cwde"
    crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.js" integrity="sha384-L9gv4ooDLrYwW0QCM6zY3EKSSPrsuUncpx26+erN0pJX4wv1B1FzVW1SvpcJPx/8"
    crossorigin="anonymous"></script>
</head>

<body>
  <h1> Fractran interpreter</h1>

  <div style="clear: left"> </div>


  <div id="fractran">
    <div>
      Choose exampe:
    <select onchange="app.load_example(event.target.value)" v-bind:disabled="isrunning">
          <option v-for="(ex,i) in examples" v-bind:value="i">
            {{ ex.title }}
          </option>
          </select>
      </div>
    <div>
      Input: <input type="text" value="8" onchange="app.input_changed(event.target.value)" onkeypress="input_only(event, '0123456789*^')"
        id="input_input" /> =
      <span v-html="input_math"></span>
    </div>
    <div class="step">
        <span id="last_step" v-if="show_last_step" v-html="last_step_math"></span>
      <span v-html="step_math" id="step_math"></span>
    </div>
    <div style="clear: left" />
    <textarea id="code_text" v-if="code_mode==0" onkeypress="input_only(event, '0123456789,/')" class="code">{{ code_text }}</textarea>
    <div id="code" v-if="code_mode==1" class="code">

      <span v-for="(f,i) in code">  
      <span v-html:once="math(`    \\frac{${f[0]}}{${f[1]}}    `)" 
        v-bind:class="{
                code_frac: true,
                frac_passed: pointer > i,
                frac_current_ok: pointer == i && current_ok,
                frac_current_ko: pointer == i && !current_ok
            }"></span>
      <span v-if="i+1!=code.length">,</span>
      </span>


    </div>
    <button type='button' onclick="app.toggle_code_mode()" v-bind:disabled="isrunning">  
      {{ code_mode ?  "✎ Edit" : "👁 View" }} 
    </button>
    <button type='button' onclick="app.run_or_pause()">  
        {{ !isrunning || ispausing ? '► Run' : '⏸ Pause'}}
      </button>
      <button type='button' onclick="app.restart()" v-bind:disabled="isrunning && !ispausing">  
        ⟲ Restart
      </button>
        <button type='button' onclick="app.step()" v-bind:disabled="isrunning && !ispausing">  
            ⏯ Step
        </button>
        <div style='width: 9em; text-align: center; display: inline-block'>
        <button onclick="if(app.speedup>=10) app.speedup=(app.speedup/10)|0"
          style='float:left'>⏪</button> 
      {{ speedup }}X
        <button style='float:right'
        onclick="if(app.speedup<1000000) app.speedup*=10">⏩</button></div>
    <div class="seq_output">
      Sequence output for primes <input type="text" id='output_base_input' onchange="app.output_base_changed(event.target.value)"
      />: <span v-html="output_seq_math"></span>
    </div>
    <div v-if="code_errors.length>0" class="error">
      List of erros:
      <ul>
        <li v-for="e in code_errors">
          {{ e }}
        </li>
      </ul>
    </div>
  </div>
  <script src="fractran_app.js">
  </script>
  <p>
   Source Code: <a href="https://github.com/tjwei/Fractran/">https://github.com/tjwei/Fractran</a>
  </p>
</body>

</html>